/* 公共变量 */
/* 样式重置 */
* {
  margin: 0px;
  padding: 0px;
  /*在移动端设置盒模型border-box 为了防止元素加边框或者padding出现水平滚动条*/
  box-sizing: border-box;
  /* 去除移动端按住元素的时候会出现高亮背景色 */
  -webkit-tap-highlight-color: transparent;
  /* 去掉所有移动端内边框 */
  outline: none;
}
html,
body {
  height: 100%;
}
body {
  padding-top: 40px;
  padding-bottom: 50px;
}
a {
  color: #666;
  text-decoration: none;
}
li {
  list-style: none;
}
input {
  border: 0;
}
img {
  /* 解决图片底部3px的间隙 为了让图片的对齐方式和文本一致*/
  vertical-align: middle;
}
i {
  font-style: normal;
}
/* 公共样式 */
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
/* 公共的图标样式 */
/* 属性选择器 匹配类名以icon-开头 或者 中间包含了空格icon-的元素 */
[class^="icon-"],
[class*=" icon-"] {
  /* 公共的精灵图 */
  background-image: url(../images/sprites.png);
  /* 设置背景图的大小 图片要缩小一半来写 背景图就设置背景图大小 */
  background-size: 200px 200px;
}
.border-left {
  border-left: 1px solid #ccc;
}
.border-right {
  border-right: 1px solid #ccc;
}
.border-top {
  border-top: 1px solid #ccc;
}
.border-bottom {
  border-bottom: 1px solid #ccc;
}
/* --------------------------头部------------------------------------------ */
#header {
  background-color: #f5f5f5;
  display: flex;
  width: 100%;
  height: 40px;
  position: fixed;
  top: 0;
}
#header .icon-back {
  width: 40px;
  height: 40px;
  padding: 10px;
  display: block;
  background-origin: content-box;
  background-clip: content-box;
  background-position: -20px 0px;
  margin-right: 10px;
}
#header > form {
  flex: 1;
  position: relative;
}
#header > form > input {
  width: 100%;
  height: 30px;
  border-radius: 15px;
  margin-top: 5px;
  padding-left: 30px;
}
#header > form .icon-search {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 10px;
  left: 5px;
  background-position: -60px -110px;
}
#header .icon-menu {
  width: 40px;
  height: 40px;
  padding: 10px;
  display: block;
  background-origin: content-box;
  background-clip: content-box;
  background-position: -60px 0px;
}
/* --------------------------主体部分------------------------------------------ */
#main {
  height: 100%;
  display: flex;
}
#main .category-left {
  width: 85px;
  height: 100%;
  overflow: auto;
}
#main .category-left .swiper-container {
  height: 100%;
}
#main .category-left .swiper-container .swiper-slide {
  height: auto;
}
#main .category-left .swiper-container .swiper-slide ul {
  background-color: #f5f5f5;
}
#main .category-left .swiper-container .swiper-slide ul > li > a {
  width: 85px;
  height: 46px;
  line-height: 46px;
  text-align: center;
  font-size: 12px;
  display: block;
}
#main .category-left .swiper-container .swiper-slide ul > li.active > a {
  color: #e93b3d;
  background-color: #fff;
}
#main .category-right {
  flex: 1;
  height: 100%;
  overflow: auto;
  padding: 10px;
}
#main .category-right .swiper-container {
  height: 100%;
}
#main .category-right .swiper-container .swiper-slide {
  height: auto;
}
#main .category-right .swiper-container .swiper-slide #branchList .jd-brand .title > h4 {
  font-size: 14px;
}
#main .category-right .swiper-container .swiper-slide #branchList .content > ul {
  display: flex;
  flex-wrap: wrap;
}
#main .category-right .swiper-container .swiper-slide #branchList .content > ul > li {
  width: 33.33%;
  margin: 10px 0;
}
#main .category-right .swiper-container .swiper-slide #branchList .content > ul > li > a {
  display: block;
  text-align: center;
}
#main .category-right .swiper-container .swiper-slide #branchList .content > ul > li > a > img {
  width: 70px;
}
#main .category-right .swiper-container .swiper-slide #branchList .content > ul > li > a > span {
  display: block;
  font-size: 12px;
}
/* --------------------------底部------------------------------------------ */
#footer {
  max-width: 640px;
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: #fff;
}
#footer > ul {
  display: flex;
}
#footer > ul > li {
  flex: 1;
}
#footer > ul > li > a {
  display: block;
  text-align: center;
}
#footer > ul > li > a > img {
  width: 65px;
  height: 50px;
}
