/* 公共变量 */
/* 样式重置 */
* {
  margin: 0px;
  padding: 0px;
  /*在移动端设置盒模型border-box 为了防止元素加边框或者padding出现水平滚动条*/
  box-sizing: border-box;
  /* 去除移动端按住元素的时候会出现高亮背景色 */
  -webkit-tap-highlight-color: transparent;
  /* 去掉所有移动端内边框 */
  outline: none;
}
html,
body {
  height: 100%;
}
body {
  padding-top: 40px;
  padding-bottom: 50px;
}
a {
  color: #666;
  text-decoration: none;
}
li {
  list-style: none;
}
input {
  border: 0;
}
img {
  /* 解决图片底部3px的间隙 为了让图片的对齐方式和文本一致*/
  vertical-align: middle;
}
i {
  font-style: normal;
}
/* 公共样式 */
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
/* 公共的图标样式 */
/* 属性选择器 匹配类名以icon-开头 或者 中间包含了空格icon-的元素 */
[class^="icon-"],
[class*=" icon-"] {
  /* 公共的精灵图 */
  background-image: url(../images/sprites.png);
  /* 设置背景图的大小 图片要缩小一半来写 背景图就设置背景图大小 */
  background-size: 200px 200px;
}
.border-left {
  border-left: 1px solid #ccc;
}
.border-right {
  border-right: 1px solid #ccc;
}
.border-top {
  border-top: 1px solid #ccc;
}
.border-bottom {
  border-bottom: 1px solid #ccc;
}
/* --------------------------头部------------------------------------------ */
.box {
  max-width: 640px;
  margin: 0px auto;
}
#header {
  max-width: 640px;
  padding-bottom: 10px;
  padding-top: 5px;
  /* background-color: @main-color; */
  width: 100%;
  display: flex;
  position: fixed;
  z-index: 999;
  top: 0;
  background-color: rgba(222, 24, 27, 0);
}
#header .icon-logo {
  width: 60px;
  height: 30px;
  margin: 0 10px;
  margin-bottom: 0;
  display: block;
  background-position: 0 -105px;
}
#header > form {
  flex: 1;
  position: relative;
}
#header > form > input {
  width: 100%;
  height: 30px;
  border-radius: 15px;
  padding-left: 35px;
  font-size: 12px;
}
#header > form .icon-search {
  width: 20px;
  height: 20px;
  background-position: -60px -110px;
  position: absolute;
  top: 5px;
  left: 10px;
}
#header .login {
  width: 50px;
  height: 30px;
  display: block;
  text-align: center;
  line-height: 30px;
  color: #fff;
}
/* --------------------------轮播图------------------------------------------ */
#slide .swiper-container {
  width: 100%;
}
#slide .swiper-container .swiper-pagination-bullet {
  background-color: transparent;
  border: 1px solid #fff;
  opacity: 1;
}
#slide .swiper-container .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #fff;
}
#slide .swiper-container a > img {
  width: 100%;
}
/* --------------------------导航------------------------------------------ */
#nav > ul {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}
#nav > ul > li {
  width: 25%;
}
#nav > ul > li > a {
  display: block;
  text-align: center;
}
#nav > ul > li > a > img {
  width: 40px;
  height: 40px;
}
#nav > ul > li > a > p {
  font-size: 14px;
  line-height: 30px;
}
/* --------------------------主体商品------------------------------------------ */
#main {
  padding: 10px;
  background-color: #f5f5f5;
  padding-bottom: 60px;
}
#main .seckill {
  background-color: #fff;
  box-shadow: 0px 0px 1px #ccc;
}
#main .seckill .title {
  display: flex;
  position: relative;
  line-height: 30px;
}
#main .seckill .title > img {
  width: 20px;
  height: 25px;
  margin: 2px 10px;
}
#main .seckill .title .name {
  font-size: 14px;
  color: #e93b3d;
}
#main .seckill .title .down-time {
  margin-left: 10px;
}
#main .seckill .title .down-time > span {
  width: 15px;
  height: 20px;
  line-height: 20px;
  display: inline-block;
  text-align: center;
  background-color: #000;
  color: #fff;
}
#main .seckill .title .down-time > span:nth-child(3n) {
  background-color: #fff;
  color: #000;
}
#main .seckill .title .more {
  font-size: 14px;
  color: #666;
  position: absolute;
  right: 10px;
}
#main .seckill .content > ul {
  display: flex;
}
#main .seckill .content > ul > li + li {
  border-left: 1px solid #ccc;
}
#main .seckill .content > ul > li > img {
  width: 110px;
  height: 110px;
}
#main .seckill .content > ul > li > p {
  text-align: center;
  font-size: 14px;
}
#main .seckill .content > ul > li > p > span {
  color: #e93b3d;
}
#main .seckill .content > ul > li > p > del {
  color: #ccc;
}
#main .jd-market {
  background-color: #fff;
  box-shadow: 0px 0px 1px #ccc;
  margin-top: 10px;
}
#main .jd-market .title {
  width: 100%;
  border-bottom: 1px solid #ccc;
}
#main .jd-market .title > h4 {
  line-height: 30px;
  font-weight: normal;
  padding-left: 20px;
  position: relative;
}
#main .jd-market .title > h4::before {
  content: "";
  display: block;
  width: 5px;
  height: 15px;
  background-color: #e93b3d;
  position: absolute;
  top: 7px;
  left: 8px;
}
#main .jd-market .content {
  display: flex;
}
#main .jd-market .content .left {
  flex: 1;
}
#main .jd-market .content .left > img {
  width: 100%;
}
#main .jd-market .content .right {
  flex: 1;
}
#main .jd-market .content .right > img {
  width: 100%;
}
/* --------------------------底部------------------------------------------ */
#footer {
  max-width: 640px;
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: #fff;
}
#footer > ul {
  display: flex;
}
#footer > ul > li {
  flex: 1;
}
#footer > ul > li > a {
  display: block;
  text-align: center;
}
#footer > ul > li > a > img {
  width: 65px;
  height: 50px;
}
